<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <title>오늘은 뭐먹지</title>
</head>
<body>
  <h1>오늘은 뭐먹지</h1>
  <a href="/auth/login">로그인</a>
  <a href="/auth/signup">회원가입</a>
  <a href="/recipes">레시피 보기</a>
</body>
</html>